[submodule "deps/hivex"]
	path = deps/hivex
	url = https://users.soe.ucsc.edu/~ajnelson/research/git/hivex.git_dfebe989d968cee25522ddabf472576a7b75f9df
[submodule "deps/sleuthkit"]
	path = deps/sleuthkit
	url = https://github.com/kfairbanks/sleuthkit.git
[submodule "deps/dfxml"]
	path = deps/dfxml
	url = https://github.com/simsong/dfxml.git
