*.py[co]

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

#Translations
*.mo

#Mr Developer
.mr.developer.cfg

#Autotools
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.log
config.status
configure
install-sh
missing
py-compile

.DS_Store
run
scripts/_autotool_vars.py
scripts/_autotool_vars_py_from_sh.sh
scripts/make_check_results
scripts/regxml_extractor.sh
tests/for_throwaway_vms_only/_autotool_vars.sh
