[submodule "deps/hivex"]
	path = deps/hivex
	url = ssh://git@www.ssrc.ucsc.edu/user/ajnelson/hivex.git
[submodule "deps/sleuthkit"]
	path = deps/sleuthkit
	url = https://github.com/kfairbanks/sleuthkit.git
[submodule "deps/dfxml"]
	path = deps/dfxml
	url = https://github.com/simsong/dfxml.git
